*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    height:100vh;
    display:grid;
    grid-template-areas:
    'header header header'
    'nav content sidebar'
    'nav footer footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 70px;
}

header, footer, main, aside, nav{
    background-color:steelblue;
    color:white;
    padding:20px;
    border:skyblue 1px solid;
}

header{
    grid-area:header;
}
nav{
    grid-area:nav;
}
main{
    grid-area: content;
}
aside{
    grid-area:sidebar;
}
footer{
    grid-area:footer;
}
/* My CREATION */
/* *{
    margin:0;
    padding:0;
}
.container > *{
    background-color:royalblue;
    padding:16px;
}
.container{
    display:grid;
    grid-template-areas: 
    "header header header header header"
    "navigation content content content sidebar"
    "navigation footer footer footer footer ";
    gap:1px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(5, 1fr);
    height:100vh;
}

header{
    grid-area:header;
}
nav{
    grid-area:navigation;
}
main{
    grid-area:content;
}
aside{
    grid-area:sidebar;
}
footer{
    grid-area:footer;
} */
